%ul.nav.pull-right.root_links
  - actions(:root).each do |action|
    %li{:class => "#{action.action_name}_root_link"}= link_to wording_for(:menu, action), { :action => action.action_name, :controller => 'rails_admin/main' }, :class => "pjax"
  - if main_app_root_path = (main_app.root_path rescue false)
    %li= link_to t('admin.home.name').capitalize, main_app_root_path
  - if _current_user
    - if user_link = edit_user_link
      %li= user_link
    - if logout_path.present?
      %li= link_to content_tag('span', t('admin.misc.log_out'), :class => 'label label-important'), logout_path, :method => (RailsAdmin.config.logout_method || :delete )
    - if _current_user.respond_to?(:email) && _current_user.email.present?
      %li= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest _current_user.email}?s=30", :style => 'padding-top:5px'
