!!! 5
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "NONE,NOARCHIVE", :name => "robots"}
    = csrf_meta_tag
    = stylesheet_link_tag "rails_admin/rails_admin.css", :media => :all
    %script{ :type=> "text/javascript", :src=>"https://js.stripe.com/v2/"}
    = javascript_include_tag "rails_admin/rails_admin.js"
    = javascript_include_tag "rails_admin/custom/ui"
    = yield :rails_admin_head
  %body.rails_admin
    #loading.label.label-warning{:style => 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand.pjax{:href => dashboard_path}
            = _get_plugin_name[0] || 'Rails'
            %small= _get_plugin_name[1] || 'Admin'
          .nav-collapse
            = render :partial => 'layouts/rails_admin/secondary_navigation'
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list= main_navigation
            %ul.nav.nav-list= static_navigation
        .span9
          .row-fluid
            .content{:'data-pjax-container' => true}= render :template => 'layouts/rails_admin/pjax'
