- @model_config.show.with(:object => @object, :view => self, :controller => self.controller).visible_groups.each do |fieldset|
  - unless (fields = fieldset.with(:object => @object, :view => self, :controller => self.controller).visible_fields).empty?
    - if !(values = fields.map{ |f| (f.value == false || f.value == true) ?  f.value : f.value.presence }).compact.empty? || !RailsAdmin::config.compact_show_view
      .fieldset
        %h4
          = fieldset.label
        - if fieldset.help
          %p= fieldset.help
        %dl
          - fields.each_with_index do |field, index|
            - unless values[index].nil? && RailsAdmin::config.compact_show_view
              %dt
                %span.label.label-info{:class => "#{field.type_css_class} #{field.css_class}"}
                  = field.label
              %dd.well
                = field.pretty_value
