@charset "UTF-8";

<%
  theme = ENV['RAILS_ADMIN_THEME'] || :default
%>

/***  Variables  ***/

@import "bootstrap_variables";
@import "rails_admin/base/variables";
@import "rails_admin/themes/<%= theme %>/variables";
@import "rails_admin/custom/variables";

/***  Mixins  ***/

@import "bootstrap_mixins";
@import "rails_admin/base/mixins";
@import "rails_admin/themes/<%= theme %>/mixins";
@import "rails_admin/custom/mixins";

/*** Reset ***/
@import "bootstrap_reset";
/***  Libraries  ***/

@import "rails_admin/aristo/jquery-ui-1.8.7.custom";
@import "rails_admin/jquery.ui.timepicker";
@import "rails_admin/ra.calendar-additions";
@import "rails_admin/ra.filtering-multiselect";
@import "rails_admin/ra.widgets";
@import "rails_admin/jquery.colorpicker";

/*** Font-awesome ***/

@import 'font-awesome';

/***  Bootstrap Theming  ***/

@import "bootstrap";

/***  RailsAdmin Theming  ***/

@import "rails_admin/base/theming";
@import "rails_admin/themes/<%= theme %>/theming";
@import "rails_admin/custom/theming";



